.signup-box{
    width: 800px;
    background-color: #fff;
    margin: auto;
    padding: 30px;
}
.signup{


    background: url("shopping3.jpg") no-repeat ;
    /* text-align: center; */
padding: 50px;
background-size: cover;
height : 100vh;
font-family:'League Spartan', sans-serif;
font-weight: 400;
/* filter: blur(2px); */
}
.signup-admin{

    background: url("./image\ 1.png") no-repeat ;
    /* text-align: center; */
padding: 50px;
background-size: cover;
height : 100vh;
font-family:'League Spartan', sans-serif;
font-weight: 400;
}

.side-img{
    width: 100%;
    background: url("./Rectangle10.png") no-repeat ;
    height: 100%;
    background-size: cover;
}
.signup-form{
    margin: 10px 0;
}

.genderitem{
    margin-left: 13px;
    width: 14px;
    height: 16px
}
.geni{
    font-size:18px;
    margin-left:2px;
}

@media (max-width:900px){
    .signup-box{
        width: 100%;
    }
    .signup{
        height: 150vh;
        padding: 50px 20px;
    }
}